{% extends "access/base.html" %}

{% block content %}
<table id="dtable" class="table table-condensed data-table" cellpadding="0" cellspacing="0" border="0" >
    <thead>
    <tr>
        <th>#</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Username</th>
        <th>Password</th>
        <th>Notes</th>
        <th>Key</th>
        <th class="pull-right text-right">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for access in accesses.all %}
    <tr>
        <td>{{ access.id }}</td>
        <td>{{ access.created }}</td>
        <td>{{ access.updated }}</td>
        <td>{{ access.username }}</td>
        <td>{{ access.password }}</td>


        <td>
            <a href="#NoteModal{{access.id}}" title="Notes" data-toggle="modal"><i class="icon-file"></i></a>
            <!-- Modal -->
            <div id="NoteModal{{access.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">{{ access.username }}</h3>
                </div>
                <div class="modal-body">
                    {{ access.note }}
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </td>



        <td>{% if access.has_pub_key %}<i class="icon-ok"></i>{% endif %}</td>
        <td>
            <div class="btn-toolbar pull-right"  style="margin:0;padding:0;">
                <div class="btn-group">

                    <a class="btn btn-mini{% if not user.is_superuser %} disabled{% endif %}" href="{% url 'fabric_access_list' %}?test={{ access.id }}"><i class="icon-repeat"></i></a>
                    <a class="btn btn-mini{% if not user.is_superuser %} disabled{% endif %}" href="{% url 'fabric_access_update' access.id %}"><i class="icon-wrench"></i></a>
                    <a class="btn btn-mini{% if not user.is_superuser %} disabled{% endif %}" href="{% url 'fabric_access_delete' access.id %}"><i class="icon-trash"></i></a>
                </div>
            </div>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% include "access/snippets/pagination.html" %}
{% endblock %}
