{% extends "base.html" %}
{% load webdesign %}

{% block left_content %}{% endblock %}



{% block main_content %}
<h1>Disclaimer</h1>
<p>This information is provided to educate the public on modern cyber technologies. it is not intended to assist with exploiting services on those sites, or for imformation gathering purposes beyond those allowed by law. I hereby disclaim any responsibility for actions taken based upon the information in this article, and urge all who seek information towards a destructive end to reconsider their life, and do something constructive instead.</p>
{% endblock %}

