{% extends "base.html" %}

{% block left_content %}
<h2></h2>
{% endblock %}


{% block main_content %}
    <h1>Help This Project</h1>
    <p>There is a lot of work to be done on this project. We welcome all donations, whatever their value. Every penny we receive helps to further our research and development in cyber intelligence operations.</p>
    <p>This research benefits IT professionals and offers awareness that ads in defending  against cyber attacks. It also helps educate the public in the technologies that threaten their privacy. Knowing how things work allows us to exercise privacy.</p>
{% endblock %}

