{% spaceless %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



    <!-- Tweeter Bootstraps -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">


</head>

<body style="margin:0px;padding:0px;">
<div class="row-fluid" style="margin:0px;padding:0px;">
    <div class="span12" style="margin:0px;padding:0px;">
        {{ video.code|safe }}
    </div>
</div>


{% include "snippets/google_analytics.html" %}
</body>
</html>
{% endspaceless %}
