{% load i18n admin_static %}
{% if cl.search_fields %}






        <form id="changelist-search" method="get" class="navbar-search pull-left" action="">
            <img src="{% static "admin/img/icon_searchbox.png" %}" alt="Search" />
            <input id="searchbar" name="{{ search_var }}" value="{{ cl.query }}" class="search-query span6 " placeholder="{{ page.navbar.search.query|default:"Search..."}} " type="text">
            <input class="hidden" type="submit" value="{% trans 'Search' %}" />
            {% if show_result_count %}
            <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
            {% endif %}
            {% for pair in cl.params.items %}
            {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
            {% endfor %}
        </form>
        <script type="text/javascript">document.getElementById("searchbar").focus();</script>



{% endif %}